{% if page.group != 'nav_main' %}
    {% assign section_group_id = page.group | remove: 'nav_' %}
    {% assign section_group = 'nav_' | append: section_group_id %}

{% else %}
    {% assign section_group = 'nav_' | append: page.id %}

{% endif %}

{% assign section_subpages_list_unsorted = site.pages | where: "group",section_group %}
{% assign section_subpages_list = section_subpages_list_unsorted | sort:"nav_order" %}

{% if page.group != 'nav_main' or section_subpages_list.size > 0 %}

    <div class="row">
        <div class="col-md-3">
            {% include section_nav.html %}
        </div>
        <div class="col-md-9">
            {{ content }} 
        </div>
    </div>

{% else %}
    
    {{ content }} 

{% endif %}