<footer class="container">
    <div class="footer-content">
        <div class="row">
            <div class="col-md-8 col-xs-6">
                <ul class="nav-footer list-unstyled">
                    {% assign pages_list = site.pages | sort:"nav_order" %}
                    {% assign group = 'nav_main' %}
                    {% assign nav_context = 'footer' %}
                    {% include pages_list.html %}
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul class="social-links list-unstyled">
                    <li>
                        <a href="https://www.facebook.com/noevalleynurseryschool/" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/noevalleynurseryschool/" target="_blank"><i class="fab fa-instagram-square"></i> Instagram</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6 paypal text-center">
                <form action="https://www.paypal.com/cgi-bin/webscr" class="centered" method="post">
                    <input name="cmd" type="hidden" value="_s-xclick" />
                    <input name="hosted_button_id" type="hidden" value="32NU3CP7HYNM6" />
                    <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" type="image" />
                    <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" />
                </form>
                <p>Tax ID: 94-1681649</p>
            </div>
        </div>
        <hr/>
        <small>
            Noe Valley Nursery School&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            5210 Diamond Heights Boulevard, San Francisco, CA 94131&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            (415) 647-2278&nbsp;&nbsp;&bull;&nbsp;&nbsp;
            info@noevalleynurseryschool.com
        </small>
    </div>
</footer>
