
<!-- vendor assets -->
<script type="text/javascript" src="/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
<script type="text/javascript" src="https://www.youtube.com/iframe_api"></script>
<!--<script type="text/javascript" src="/vendor/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>-->

<!-- nvns assets -->
<script type="text/javascript" src="/dist/js/nvns.min.js"></script>
