{% for node in pages_list %}
    {% if group == null or group == node.group %}
        
        {% if node.group == 'nav_main' %}
            {% assign subgroup_substring = node.id | split: "-" | join: "_" %}
            {% assign subgroup = 'nav_' | append: subgroup_substring %}
        {% else %}
            {% assign subgroup = node.group %}
        {% endif %}
        
        {% assign subpages_list_unsorted = site.pages | where: "group",subgroup %}
        {% assign subpages_list = subpages_list_unsorted | sort:"nav_order" %}
        
        <li{% if page.url == node.url or (subpages_list.size > 0 and subgroup == page.group) %} class="active"{% endif %}>
            
            <a href="{{node.url}}">{{node.title}}</a>
            
            {% if subpages_list.size > 0 %}
                <ul class="{% if nav_context == 'header' %}dropdown-menu{% endif %}{% if nav_context == 'footer' %}list-unstyled{% endif %}">
                    {% include subpages_list.html %}
                </ul>
            {% endif %}
            
        </li>
    {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}

