<!DOCTYPE html>
<html ng-app="nvnsApp">

    {% include head.html %}

    <body ng-controller="HomeCtrl" ng-init="init()" class="home">

        <div
            ng-class="{
                'scrolled': vars.scrolled
            }"
            id="main"
            class="container">

            <header>

                {% include nav_global.html %}

            </header>

            <div id="content">

                <div class="row">
                    <div class="col-md-12">

                        {{ content }}

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <ol
                            ng-class="{
                                'video-ready': vars.video_ready
                            }"
                            id="home-video-controls"
                            class="list-unstyled clearfix">
                            <li class="pull-left">

                                <a ng-click="toggleVideoSound()">
                                    <span
                                        ng-class="{
                                            'glyphicon-volume-off': vars.video.muted,
                                            'glyphicon-volume-up': !vars.video.muted
                                        }"
                                        class="glyphicon pull-left">
                                    </span>
                                    <div class="audio-spectrum pull-left">
                                        <div id="bar-1" class="bar"></div>
                                        <div id="bar-2" class="bar"></div>
                                        <div id="bar-3" class="bar"></div>
                                    </div>

                                </a>

                            </li>
                            <li class="pull-left">
                                <small>
                                    <a href="https://vimeo.com/199110986" class="no-border" target="_blank">
                                        <i class="fa fa-vimeo-square"></i> Watch this video on Vimeo <i class="fa fa-external-link"></i>
                                    </a>
                                </small>
                            </li>
                        </ol>
                    </div>
                </div>



            </div>

            <div
                ng-class="{
                    'ready': vars.video_ready
                }"
                class="fullscreen-bg">
                <!--<youtube-video
                    id="home-hero-video"
                    class="fullscreen-bg-video"
                    data-player="vars.video.player"
                    data-video-id="vars.video.id"
                    data-player-vars="vars.video.params">
                </youtube-video>-->
                <iframe
                    id="home-hero-video"
                    class="fullscreen-bg-video"
                    type="text/html"
                    width="640"
                    height="360"
                    ng-src="{$ vars.yt_url $}"
                    frameborder="0">
                </iframe>
            </div>
            <div id="home-hero-video-screen" class="fullscreen-bg-video-overlay"></div>

        </div>

        {% include javascript.html %}

    </body>

</html>
